<div class="container">
  <h1>Scoreboard</h1>

  <table>
    <thead>
      <tr>
        <td>Rank</td>
        <td>NickName</td>
        <td>Score</td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
