<div class="container" data-username="<%= current_user.nickname %>">
  <!-- The canvas for the panning background -->
  <div class="startGame">
    <a href="#" id="startGame">START GAME</a>
  </div>
</div>
<div id="gameCounter">Total Games Played:</div>