// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url(/assets/earth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}

.startGame {
  width: 800px;
  height: 600px;
  position: absolute;
  top: 50px;
  left: 50%px;
  background: transparent;
  border: 1px solid white;
  background-color: rgba(171, 171, 171, 0.14);
}

.startGame > a {
  position: absolute;
  display: inline-block;
  top: 280px;
  left: 290px;
  font-size: 30px;
  color: white;
  background-color: black;
  padding: 10px;
}

.startGame > a:hover {
  background-color: black;
  color: red;
}

nav > a {
  display: inline;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

a {
  display: block;
  text-decoration: none;
  background: rgba(135, 135, 135, 0.2);
  border-radius: 2px;
  padding: 5px 10px;
  color: white;
}

p {
  color: white;
}

label {
  color: white;
}

h1 {
  text-align: center;
}

table {
  width: 800px;
  //border: 1px solid white;
  border-collapse: collapse;
  border-radius: 10px;
}

table > tbody > tr {
  text-align: center;
}

table > tbody > tr > td {
  padding: 5px;
  text-align: center;
  //padding-left: 160px;
  box-sizing: border-box;
  font-weight: 800;
}

table > thead > tr > td {
  font-weight: 800;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  background-color: white;
  color: black;
}

table thead tr:last-child td:first-child {
  border-top-left-radius: 10px;
}

table thead tr:last-child td:last-child {
  border-top-right-radius: 10px;
}

canvas {
  position: absolute;
  top: 50px;
  left: 50%px;
  background: transparent;
  border: 1px solid white;
}

.container {
  margin: 0 auto;
  width: 800px;
}
#background {
  z-index: -2;
}
#main {
  z-index: -1;
}
#ship {
  z-index: 0;
}
.score {
  position: absolute;
  top: 70px;
  left: calc(50% + 280px);
  color: #FF7F00;
  font-family: Helvetica, sans-serif;
  cursor: default;
}
.game-over {
  position: absolute;
  top: 230px;
  left: calc(50% - 75px);
  color: #FF7F00;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  cursor: default;
  display: none;
}
.game-over span {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  left: 60px;
}
.game-over span:hover {
  color: #FFD700;
}
.loading {
  position: absolute;
  top: 230px;
  left: calc(50% - 75px);
  color: #FF7F00;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  cursor: default;
}

.form {
  margin: 100px auto;
  padding: 10px;
  width: 30%;
  text-align: center;
  border: 1px solid rgba(212, 20, 12, 0);
  box-shadow: 1px 1px 3px black;
  background-color: rgba(135, 135, 135, 0.2);
}

a:hover {
  background: rgba(130, 139, 137, 0.8);
  box-shadow: 5px 5px 20px black;
}

.actions > input {
  font-family: "Times New Roman";
  font-size: 1em;
  justify-content: center;
  width: 100%;
  border: none;
  background: rgba(135, 135, 135, 0.2);
  border-radius: 2px;
  padding: 5px 10px;
  color: white;
}

.actions > input:hover {
  background: rgba(130, 139, 137, 0.8);
  cursor: pointer;
  box-shadow: 5px 5px 20px black;
}

.form {
  padding: 10px;
}

input {
  max-width: 100%;
  width: 60%;
  border-radius: 2px;
  padding: 5px 10px;
  box-sizing: border-box;
}

#user_remember_me {
  width: 5%;
}
