// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url(/assets/earth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}

nav > a {
  color: white;
}

a {
  text-decoration: none;
  color: rgb(251, 226, 0);
}

p {
  color: white;
}

label {
  color: white;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
}

canvas {
  position: absolute;
  top: 50px;
  left: 50%px;
  background: transparent;
  border: 1px solid white;
}

.container {
  margin: 0 auto;
  width: 800px;
}
#background {
  z-index: -2;
}
#main {
  z-index: -1;
}
#ship {
  z-index: 0;
}
.score {
  position: absolute;
  top: 70px;
  left: calc(50% + 280px);
  color: #FF7F00;
  font-family: Helvetica, sans-serif;
  cursor: default;
}
.game-over {
  position: absolute;
  top: 230px;
  left: calc(50% - 75px);
  color: #FF7F00;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  cursor: default;
  display: none;
}
.game-over span {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  left: 60px;
}
.game-over span:hover {
  color: #FFD700;
}
.loading {
  position: absolute;
  top: 230px;
  left: calc(50% - 75px);
  color: #FF7F00;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  cursor: default;
}

.form {
  margin: 100px auto;
  padding: 10px;
  width: 30%;
  text-align: center;
  border: 1px solid rgba(212, 20, 12, 0);
  box-shadow: 1px 1px 3px black;
  background-color: rgba(135, 135, 135, 0.2);
}

a {
  border: 1px solid white;
}
